.dashboard-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #f4f4f4;
    border-bottom: 2px solid #3552e1;
}

.welcome-text {
    font-size: 18px;
    font-weight: bold;
}

.dashboard-title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    margin-right: 5rem;
}

.logout-button {
    background-color: #2e54df;
    color: white;
    border: none;
    padding: 10px 10px;
    width: 70px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.logout-button:hover {
    background-color: #2d127a;
}

.paragraph{
    text-align: center;
}